- var urlLayoutCss = '<?= URL_RAIZ; ?>css/main.css'
- var urlModernizr = '<?= URL_RAIZ; ?>js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='apple-touch-icon', href='apple-touch-icon.png')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans|Open+Sans:400,300,600,400italic,700')
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css')
	link(rel='stylesheet', href!=urlLayoutCss)
	<?= $tpl_header; ?>
	script(src!=urlModernizr)